@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Pacifico&family=Sriracha&display=swap');

:root {
    --header: rgb(37, 37, 37, 0.65);
    --headerButtons: white;
    --logo: white;
    --bodyColor: rgb(43, 43, 43);
    --dropdown: rgb(221, 221, 221);
    --selector: rgb(245, 245, 245);
};

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    background: url(./images/galaxy.jpg);
    background-position: center;
    background-size: cover;
}

#header {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: var(--header);
    justify-content: center;
}

#logo,
.headerText {
    font-size: 2.5rem;
    color: var(--logo);
}

.headerButton {
    color: var(--headerButtons);
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: center;
}

#imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 70%;
    margin-top: 10rem;
}

.planet {
    max-width: 35rem;
    border-radius: 50%;
    border: 3px solid white;
    transition: all 3s ease;
    animation: fade 3s;
}

#arrows {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.arrow {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    filter: invert(99%) sepia(2%) saturate(2475%) hue-rotate(194deg) brightness(114%) contrast(88%);
    transition: all .2s ease-in-out;
}

#selectors {
    display: flex;
    gap: 2rem;
}

.selector {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    filter: invert(99%) sepia(2%) saturate(2475%) hue-rotate(194deg) brightness(114%) contrast(88%);
    transition: all .2s ease-in-out;
    border-radius: 50%;
}

.arrow:hover {
    transform: scale(1.15);
}

.selector:hover {
    transform: scale(1.3);
}

.opaque {
    opacity: 1;
}

p {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}